# Importing Libraries

In [3]:
import pandas as pd
import json

# unzipping dataset file

In [ ]:
!unzip /content/swiggy.zip

Archive:  /content/swiggy.zip
  inflating: data.json

# Loading Json

In [3]:
f = open('data.json')

In [4]:
data_j = json.load(f)

In [5]:
type(data_j)

dict

In [6]:
cities = list(data_j.keys())

In [7]:
cities_with_subregions = []
for city in cities:
  if len(list(data_j[city].keys())) > 2:
    cities_with_subregions.append(city)

In [8]:
cities_with_subregions

['Ahmedabad',
 'Bangalore',
 'Chandigarh',
 'Chennai',
 'Coimbatore',
 'Dehradun',
 'Delhi',
 'Gurgaon',
 'Guwahati',
 'Hyderabad',
 'Indore',
 'Jaipur',
 'Kochi',
 'Kolkata',
 'Lucknow',
 'Ludhiana',
 'Mumbai',
 'Mysore',
 'Nagpur',
 'Nashik',
 'Noida',
 'Pune',
 'Surat',
 'Vadodara',
 'Vijayawada',
 'Vizag']

In [9]:
cities_without_subregions = []
for i in cities:
  if i not in cities_with_subregions:
    cities_without_subregions.append(i)

In [10]:
cities_without_subregions

['Abohar',
 'Adilabad',
 'Adityapur',
 'Adoni',
 'Agartala',
 'Agra',
 'Ahmednagar',
 'Aizawl',
 'Ajmer',
 'Akola',
 'Alappuzha',
 'Aligarh',
 'Alipurduar',
 'Allahabad',
 'Almora',
 'Alwar',
 'Amalapuram',
 'Ambala',
 'Ambikapur',
 'Ambur',
 'Amravati',
 'Amreli',
 'Amritsar',
 'Anand',
 'Anantapur',
 'Angul',
 'Ankleshwar',
 'Arakkonam',
 'Arambagh',
 'Arrah',
 'Aruppukottai',
 'Asansol',
 'Aurangabad',
 'Aurangabad_bihar',
 'Azamgarh',
 'Baddi',
 'Bagalkot',
 'Bagdogra',
 'Bagula',
 'Bahadurgarh',
 'Bahraich',
 'Balaghat',
 'Balangir',
 'Balasore',
 'Ballari',
 'Balrampur',
 'Balurghat',
 'Banda',
 'Bankabihar',
 'Bankura',
 'Bantwal',
 'Bapatlachirala',
 'Baramati',
 'Baran',
 'Baraut',
 'Bardhaman',
 'Bardoli',
 'Bareilly',
 'Baripada',
 'Barmer',
 'Barnala',
 'Barshi',
 'Barwani',
 'Basirhat',
 'Basti',
 'Batala',
 'Bathinda',
 'Beawar',
 'Beed',
 'Begusarai',
 'Bela-pratapgarh',
 'Belgaum',
 'Berhampore',
 'Berhampur',
 'Bettiah',
 'Betul',
 'Bhadohi',
 'Bhadrachalam',
 'Bhadrak',
 'Bhadravati',
 'Bhagalpur',
 'Bhandara',
 'Bharabanki',
 'Bharatpur',
 'Bharuch',
 'Bhatkal',
 'Bhavnagar',
 'Bhawanipatna',
 'Bhilai',
 'Bhilwara',
 'Bhimavaram',
 'Bhind',
 'Bhiwadi',
 'Bhiwani',
 'Bhopal',
 'Bhubaneswar',
 'Bhuj',
 'Bhusawal',
 'Bidar',
 'Biharsharif',
 'Bijapur',
 'Bijnor',
 'Bikaner',
 'Bilaspur',
 'Bilaspur-hp',
 'Bilimora',
 'Biswanath-chariali',
 'Bodhan-rural',
 'Bodinayakanur',
 'Boisar',
 'Bokaro',
 'Bolpur',
 'Bongaigaon',
 'Bongaon',
 'Budaun',
 'Budhwal',
 'Bulandshahr',
 'Buldana',
 'Bundi',
 'Burhanpur',
 'Buxar',
 'Central-goa',
 'Chakdaha',
 'Chalakkudy',
 'Chalisgaon',
 'Chandausi',
 'Chandrapur',
 'Changanassery',
 'Chengannur',
 'Cherthala',
 'Chhapra',
 'Chhatarpur',
 'Chhindwara',
 'Chidambaram',
 'Chikhli',
 'Chikkaballapur',
 'Chikmagalur',
 'Chiplun',
 'Chitradurga',
 'Chittoor',
 'Chittorgarh',
 'Chopda',
 'Churu',
 'Cooch-behar',
 'Cuddalore',
 'Cuttack',
 'Dahanu',
 'Dahod',
 'Daltonganj',
 'Daman',
 'Darbhanga',
 'Darjeeling',
 'Daund',
 'Dausa',
 'Davanagere',
 'Dehri',
 'Deoghar',
 'Dewas',
 'Dhanbad',
 'Dhar',
 'Dharamshala',
 'Dharapuram',
 'Dharmapuri',
 'Dharwad',
 'Dhoraji',
 'Dhule',
 'Dibrugarh',
 'Digboi',
 'Dimapur',
 'Dindigul',
 'Diu',
 'Doddaballapura',
 'Duliajan',
 'Dumka',
 'Durgapur',
 'Eluru',
 'Erode',
 'Etah',
 'Etawah',
 'Faizabad',
 'Faridabad',
 'Faridkot',
 'Farrukhabad',
 'Fatehabad',
 'Fatehgarh-sahib',
 'Fatehpur',
 'Fazilka',
 'Firozabad',
 'Firozpur',
 'Freelancer',
 'Gadag-betigeri',
 'Gadwal',
 'Gandhidham',
 'Gangapur-city',
 'Gangarampur',
 'Gangtok',
 'Gauriganj',
 'Gaya',
 'Giridih',
 'Godhra',
 'Gokak',
 'Golaghat',
 'Gonda',
 'Gondal',
 'Gondia',
 'Gopalganj',
 'Gorakhpur',
 'Gudivada',
 'Guna',
 'Guntakal',
 'Guntur',
 'Gurdaspur',
 'Gwalior',
 'Habra',
 'Hajipur',
 'Haldia',
 'Haldwani',
 'Halol',
 'Hampi',
 'Hansi',
 'Hanumangarh',
 'Hapur',
 'Hardoi',
 'Haridwar',
 'Hassan',
 'Hathras',
 'Himmatnagar',
 'Hindaun',
 'Hinganghat',
 'Hisar',
 'Hoshangabad',
 'Hoshiarpur',
 'Hospet',
 'Hosur',
 'Hubli',
 'Ichalkaranji',
 'Idukki',
 'Imphal',
 'Irinjalakuda',
 'Itanagar',
 'Itarsi',
 'Jabalpur',
 'Jagdalpur',
 'Jagraon',
 'Jagtial',
 'Jahanabad',
 'Jaigaon',
 'Jalandhar',
 'Jalaun',
 'Jalgaon',
 'Jalpaiguri',
 'Jammu',
 'Jamnagar',
 'Jamshedpur',
 'Jaunpur',
 'Jhalawar',
 'Jhansi',
 'Jhargram',
 'Jhunjhunu',
 'Jind',
 'Jodhpur',
 'Jorhat',
 'Junagadh',
 'Kadapa',
 'Kadayanallur',
 'Kadiri',
 'Kaithal',
 'Kakinada',
 'Kalaburagi',
 'Kalady',
 'Kalna',
 'Kamareddy',
 'Kanchrapara',
 'Kannauj',
 'Kannur',
 'Kanpur',
 'Kanyakumari',
 'Kapurthala',
 'Karad',
 'Karaikkudi',
 'Karimnagar',
 'Karnal',
 'Karunagappaly',
 'Karur',
 'Karwar',
 'Kasaragod',
 'Kashipur',
 'Katihar',
 'Katni',
 'Kavali',
 'Kayamkulam',
 'Kendrapada',
 'Kendujhar',
 'Khalilabad',
 'Khamgaon',
 'Khammam',
 'Khandwa',
 'Khanna',
 'Kharagpur',
 'Khopoli',
 'Kishanganj',
 'Kishangarh',
 'Kodaikanal',
 'Kohima',
 'Kolar',
 'Kolhapur',
 'Kollam',
 'Kopargaon',
 'Koppal',
 'Korba',
 'Kota',
 'Kotdwar',
 'Kothagudem',
 'Kothamanagalam',
 'Kottakkal',
 'Kottarakkara',
 'Kottayam',
 'Kovilpatti',
 'Kozhikode',
 'Krishnagiri',
 'Krishnanagar',
 'Kumarakom',
 'Kumbakonam',
 'Kumta',
 'Kundapura',
 'Kunnamkullam',
 'Kurnool',
 'Kurukshetra',
 'Lakhimpur',
 'Lalitpur',
 'Latur',
 'Lonavala',
 'Lonavla',
 'Machilipatnam',
 'Madanapalle',
 'Madhubani',
 'Madikeri',
 'Madurai',
 'Mahabaleshwar',
 'Mahbubnagar',
 'Mahoba',
 'Malappuram',
 'Malda',
 'Malegaon',
 'Malout',
 'Manali',
 'Mancherial',
 'Mandi-dabwali',
 'Mandi-gobindgarh',
 'Mandi-hp',
 'Mandsaur',
 'Mandya',
 'Mangaluru',
 'Manipal',
 'Manjeri',
 'Mannargudi',
 'Mansa',
 'Markapur',
 'Mathura',
 'Maunath-bhanjan',
 'Mayiladuthurai',
 'Medinipur',
 'Meerut',
 'Mehsana',
 'Mettupalayam',
 'Miryalaguda',
 'Mirzapur',
 'Modinagar',
 'Moga',
 'Moodbidri',
 'Moradabad',
 'Morbi',
 'Morena',
 'Motihari',
 'Mount-abu',
 'Mughalsarai',
 'Mukerian',
 'Muktsar',
 'Munger',
 'Murshidabad',
 'Mussoorie',
 'Muvattupuzha',
 'Muzaffarnagar',
 'Muzaffarpur',
 'Nabadwip',
 'Nadiad',
 'Nagaon',
 'Nagapattinam',
 'Nagda',
 'Nagercoil',
 'Nagur',
 'Naharlagun',
 'Nainital',
 'Nalbari',
 'Nalgonda',
 'Namakkal',
 'Nanded',
 'Nandurbar',
 'Nandyal',
 'Nangal',
 'Naraingarh',
 'Narasaraopet',
 'Narnaul',
 'Narsinghpur',
 'Narsipatnam',
 'Navsari',
 'Neemuch',
 'Nellore',
 'Neyveli',
 'Nipani',
 'Nirmal',
 'Nizamabad',
 'Noida-1',
 'North-goa',
 'Ongole',
 'Ooty',
 'Orai',
 'Osmanabad',
 'Pala',
 'Palakkad',
 'Palakollu',
 'Palampur',
 'Palani',
 'Palanpur',
 'Pali',
 'Palwal',
 'Panchgani',
 'Panipat',
 'Paramakudi',
 'Parbhani',
 'Pathankot',
 'Patiala',
 'Patna',
 'Pattukkottai',
 'Payyannur',
 'Perambalur',
 'Perinthalmanna',
 'Phagwara',
 'Phusro',
 'Pilani',
 'Pilibhit',
 'Pinjore-city',
 'Pondicherry',
 'Porbandar',
 'Port-blair',
 'Pratapgarh',
 'Proddatur',
 'Pudukkottai',
 'Puri',
 'Purnea',
 'Purulia',
 'Pusad',
 'Puttur',
 'Puttur-karnataka',
 'Rae-bareli',
 'Raghunathpur',
 'Raichur',
 'Raiganj',
 'Raigarh',
 'Raipur',
 'Rajahmundry',
 'Rajapalayam',
 'Rajgarh',
 'Rajkot',
 'Rajnandgaon',
 'Rajsamand',
 'Ramagundam',
 'Ramanagara',
 'Ramanathapuram',
 'Ramgarh',
 'Rampur',
 'Ranaghat',
 'Ranaghat-wb',
 'Ranchi',
 'Rangpo',
 'Ranibennur',
 'Raniganj',
 'Ratlam',
 'Ratnagiri',
 'Ravulapalem',
 'Rayachoty',
 'Rewa',
 'Rewari',
 'Rishikesh',
 'Rohtak',
 'Roorkee',
 'Ropar',
 'Rourkela',
 'Rudrapur',
 'Sagar',
 'Saharanpur',
 'Saharsa',
 'Salem',
 'Samastipur',
 'Sambalpur',
 'Sangamner',
 'Sangli',
 'Sangrur',
 'Santipur',
 'Sasaram',
 'Satara',
 'Satna',
 'Sawai-madhopur',
 'Sawantwadi',
 'Sehore',
 'Shahjahanpur',
 'Shamli',
 'Shikohabad',
 'Shillong',
 'Shimla',
 'Shirdi-city',
 'Shivamogga',
 'Shivpuri',
 'Shravasti',
 'Shrirampur',
 'Siddipet',
 'Sikar',
 'Silchar',
 'Siliguri',
 'Silvassa',
 'Sindhanur',
 'Singrauli',
 'Sirkali',
 'Sirsa',
 'Sirsi',
 'Sitamarhi',
 'Sitapur',
 'Sivakasi',
 'Sivasagar',
 'Siwan',
 'Solan',
 'Solapur',
 'Sonipat',
 'South-goa',
 'Sri-ganganagar',
 'Srikakulam',
 'Srivilliputhur',
 'Sultanpur',
 'Suratgarh',
 'Surendranagar-dudhrej',
 'Suri',
 'Suryapet',
 'Tadepalligudem',
 'Tadpatri',
 'Tanuku',
 'Tarn-taran-sahib',
 'Tenkasi',
 'Tezpur',
 'Thalassery',
 'Thanjavur',
 'Theni',
 'Thiruvalla',
 'Thiruvallur',
 'Thiruvananthapuram',
 'Thiruvarur',
 'Thodupuzha',
 'Thoothukudi',
 'Thoubal',
 'Thrissur',
 'Tindivanam',
 'Tinsukia',
 'Tiptur',
 'Tirunelveli',
 'Tirupati',
 'Tirupur',
 'Tiruttani',
 'Tiruvannamalai',
 'Tohana',
 'Trichy',
 'Tumakuru',
 'Tuni',
 'Udaipur',
 'Udgir',
 'Udhampur',
 'Ujjain',
 'Uluberia',
 'Unnao',
 'Uran-islampur',
 'Valsad',
 'Vapi',
 'Varanasi',
 'Varkala',
 'Vellore',
 'Veraval',
 'Vidisha',
 'Viluppuram',
 'Virudhunagar',
 'Visnagar',
 'Vizianagaram',
 'Vyara',
 'Waidhan',
 'Warangal',
 'Wardha',
 'Washim',
 'Wayanad',
 'Yamuna-nagar',
 'Yavatmal']

In [42]:
df_cities_without_subregions =pd.DataFrame( {'id':[],'name':[],'city':[],'sub_region':[],'rating':[],'rating_count':[],'cost':[]})
r_id = []
name = []
city_arr = []
sub_region = []
rating = []
rating_count = []
cost = []


for city in cities_without_subregions:
  #city_link = data_j[i]['link']

  if len(data_j[city]['restaurants'].keys())>0:
    for restaurant in list(data_j[city]['restaurants'].keys()):
      city_arr.append(city)
      sub_region.append(city)
      r_id.append(restaurant)
      print(city,restaurant)
      name.append(data_j[city]['restaurants'][restaurant]['name'])
      rating.append(data_j[city]['restaurants'][restaurant]['rating'])
      #print(id)
      try:
        rating_count.append(data_j[city]['restaurants'][restaurant]['rating_count'])
      except:
        rating_count.append('NA')
      try:
        cost.append(int(data_j[city]['restaurants'][restaurant]['cost'].split(" ")[1]))
      except:
        try:
          cost.append(int(data_j[city]['restaurants'][restaurant]['cost']))
        except:
          cost.append(int(data_j[city]['restaurants'][restaurant]['price'].split(" ")[0][1:]))
      #restaurant_link = data_j[i]['restaurants'][k]['link']

df = {'id':r_id,'name':name,'city':city_arr,'sub_region':sub_region,'rating':rating,'rating_count':rating_count,'cost':cost}

df_cities_without_subregions = pd.DataFrame()

Streaming output truncated to the last 5000 lines.
Tanuku 421299
Tanuku 555570
Tanuku 222978
Tanuku 564980
Tanuku 479453
Tanuku 338465
Tanuku 201471
Tanuku 482834
Tanuku 577558
Tanuku 474341
Tanuku 201482
Tanuku 562284
Tanuku 479466
Tanuku 504810
Tanuku 562637
Tanuku 577444
Tanuku 577818
Tanuku 243965
Tanuku 562492
Tanuku 500847
Tanuku 481621
Tanuku 201517
Tanuku 201477
Tarn-taran-sahib 513244
Tarn-taran-sahib 506845
Tarn-taran-sahib 397089
Tarn-taran-sahib 506846
Tarn-taran-sahib 506841
Tarn-taran-sahib 228968
Tarn-taran-sahib 506844
Tenkasi 444179
Tenkasi 572313
Tenkasi 571483
Tenkasi 444172
Tenkasi 567634
Tenkasi 572540
Tenkasi 462270
Tenkasi 540432
Tenkasi 496343
Tenkasi 455099
Tenkasi 547131
Tenkasi 501185
Tenkasi 447866
Tenkasi 450030
Tenkasi 570138
Tenkasi 471670
Tenkasi 487397
Tenkasi 552928
Tenkasi 489372
Tenkasi 522553
Tenkasi 493905
Tenkasi 573709
Tenkasi 506803
Tenkasi 459247
Tenkasi 555516
Tenkasi 443620
Tenkasi 443625
Tenkasi 448578
Tenkasi 552941
Tenkasi 442606
Tenkasi 462473
Tenkasi 444495
Tenkasi 479518
Tenkasi 536174
Tenkasi 442813
Tenkasi 442611
Tenkasi 495801
Tezpur 491607
Tezpur 222634
Tezpur 453069
Tezpur 543443
Tezpur 246628
Tezpur 195144
Tezpur 356146
Tezpur 476547
Tezpur 236420
Tezpur 565653
Tezpur 444167
Tezpur 454386
Tezpur 195106
Tezpur 221505
Tezpur 242403
Tezpur 201615
Tezpur 254955
Tezpur 293101
Tezpur 382238
Tezpur 195122
Tezpur 248916
Tezpur 478103
Tezpur 195136
Tezpur 236586
Tezpur 195108
Tezpur 413818
Tezpur 201620
Tezpur 195107
Tezpur 515459
Tezpur 558665
Tezpur 236400
Tezpur 201618
Tezpur 493234
Tezpur 375080
Tezpur 474861
Tezpur 571057
Tezpur 370057
Tezpur 195124
Tezpur 436132
Tezpur 221520
Tezpur 196677
Tezpur 282342
Tezpur 337062
Tezpur 471971
Tezpur 228365
Tezpur 522784
Tezpur 335993
Tezpur 195135
Tezpur 195129
Tezpur 195147
Tezpur 342645
Tezpur 357641
Tezpur 359735
Tezpur 195138
Tezpur 342644
Tezpur 383806
Tezpur 433306
Tezpur 470332
Tezpur 195137
Tezpur 437944
Tezpur 341031
Tezpur 195161
Tezpur 344628
Tezpur 567120
Tezpur 242209
Tezpur 396802
Tezpur 268268
Tezpur 195160
Tezpur 569574
Tezpur 380026
Tezpur 493260
Tezpur 486149
Tezpur 222071
Tezpur 515509
Thalassery 521939
Thalassery 349046
Thalassery 217113
Thalassery 217115
Thalassery 217131
Thalassery 249618
Thalassery 356847
Thalassery 357285
Thalassery 569872
Thalassery 217114
Thalassery 217105
Thalassery 443622
Thalassery 217108
Thalassery 217116
Thalassery 416470
Thalassery 388300
Thalassery 199248
Thalassery 510478
Thalassery 430039
Thalassery 547364
Thalassery 300633
Thalassery 541108
Thalassery 217122
Thalassery 346090
Thalassery 441088
Thalassery 388302
Thalassery 565473
Thanjavur 105067
Thanjavur 451821
Thanjavur 531959
Thanjavur 188220
Thanjavur 185412
Thanjavur 149152
Thanjavur 190601
Thanjavur 380014
Thanjavur 467730
Thanjavur 354726
Thanjavur 517562
Thanjavur 374885
Thanjavur 377749
Thanjavur 331253
Thanjavur 480770
Thanjavur 381426
Thanjavur 108880
Thanjavur 373941
Thanjavur 536685
Thanjavur 457642
Thanjavur 487989
Thanjavur 462047
Thanjavur 104649
Thanjavur 372203
Thanjavur 467086
Thanjavur 156251
Thanjavur 233800
Thanjavur 472719
Thanjavur 353724
Thanjavur 507968
Thanjavur 480893
Thanjavur 106780
Thanjavur 523111
Thanjavur 328111
Thanjavur 391272
Thanjavur 415142
Thanjavur 388244
Thanjavur 461888
Thanjavur 398900
Thanjavur 474651
Thanjavur 423827
Thanjavur 537175
Thanjavur 108888
Thanjavur 448124
Thanjavur 535888
Thanjavur 229635
Thanjavur 109803
Thanjavur 536675
Thanjavur 275163
Thanjavur 150418
Thanjavur 378467
Thanjavur 473192
Thanjavur 553440
Thanjavur 423816
Thanjavur 176041
Thanjavur 377949
Thanjavur 486111
Thanjavur 474415
Thanjavur 109801
Thanjavur 170875
Thanjavur 441721
Thanjavur 218889
Thanjavur 324164
Thanjavur 463094
Thanjavur 356757
Thanjavur 498555
Thanjavur 109884
Thanjavur 480900
Thanjavur 149151
Thanjavur 545696
Thanjavur 541224
Thanjavur 537141
Thanjavur 495110
Thanjavur 477511
Thanjavur 478581
Thanjavur 231381
Thanjavur 373591
Thanjavur 548350
Thanjavur 497468
Thanjavur 385076
Thanjavur 524984
Thanjavur 399211
Thanjavur 351297
Thanjavur 380395
Thanjavur 537171
Thanjavur 369573
Thanjavur 334669
Thanjavur 548338
Thanjavur 191322
Thanjavur 562730
Thanjavur 106784
Thanjavur 576366
Thanjavur 556051
Thanjavur 525682
Thanjavur 452093
Thanjavur 357319
Thanjavur 349652
Thanjavur 496099
Thanjavur 551181
Thanjavur 158533
Thanjavur 107961
Thanjavur 380110
Thanjavur 532001
Thanjavur 423803
Thanjavur 106782
Thanjavur 552173
Thanjavur 170989
Thanjavur 502212
Thanjavur 478601
Thanjavur 507969
Thanjavur 501596
Thanjavur 177764
Thanjavur 518495
Thanjavur 108884
Thanjavur 201779
Thanjavur 318599
Thanjavur 537409
Thanjavur 493454
Thanjavur 214637
Thanjavur 170987
Thanjavur 157263
Thanjavur 548359
Thanjavur 401515
Thanjavur 175367
Thanjavur 579798
Thanjavur 528323
Thanjavur 487995
Thanjavur 517295
Thanjavur 528389
Thanjavur 214636
Thanjavur 106787
Thanjavur 177817
Thanjavur 447763
Thanjavur 542198
Thanjavur 537807
Thanjavur 576106
Thanjavur 538977
Thanjavur 531930
Thanjavur 470425
Thanjavur 571138
Thanjavur 185992
Thanjavur 558419
Thanjavur 563885
Thanjavur 385255
Thanjavur 512150
Thanjavur 497813
Thanjavur 531915
Thanjavur 451544
Thanjavur 487675
Thanjavur 174530
Thanjavur 537274
Thanjavur 375054
Thanjavur 484850
Thanjavur 147302
Thanjavur 458555
Thanjavur 534502
Thanjavur 188777
Thanjavur 557810
Thanjavur 509242
Thanjavur 533927
Theni 303624
Theni 296755
Theni 409984
Theni 238670
Theni 406352
Theni 491582
Theni 423265
Theni 526304
Theni 561846
Theni 463013
Theni 368692
Theni 238692
Theni 560942
Theni 198138
Theni 301039
Theni 517317
Theni 507817
Theni 530475
Theni 536317
Theni 407126
Theni 404837
Theni 326936
Theni 198142
Theni 479699
Theni 405122
Theni 198028
Theni 502640
Theni 459803
Theni 499001
Theni 555914
Theni 569962
Theni 549675
Theni 506168
Theni 405447
Theni 567212
Thiruvalla 507567
Thiruvalla 365628
Thiruvalla 241013
Thiruvalla 412645
Thiruvalla 481614
Thiruvalla 444082
Thiruvalla 295255
Thiruvalla 444193
Thiruvalla 366759
Thiruvalla 369586
Thiruvalla 391505
Thiruvalla 233045
Thiruvalla 261893
Thiruvalla 417115
Thiruvalla 569201
Thiruvalla 413006
Thiruvalla 578606
Thiruvalla 491982
Thiruvalla 235620
Thiruvalla 284241
Thiruvalla 239580
Thiruvalla 232582
Thiruvalla 336449
Thiruvalla 389924
Thiruvalla 563389
Thiruvalla 502842
Thiruvalla 261058
Thiruvalla 433732
Thiruvalla 233047
Thiruvalla 510426
Thiruvalla 520131
Thiruvalla 561382
Thiruvalla 498927
Thiruvalla 236256
Thiruvalla 569053
Thiruvalla 502851
Thiruvalla 489134
Thiruvalla 550306
Thiruvalla 412648
Thiruvalla 429648
Thiruvalla 430702
Thiruvalla 519154
Thiruvalla 412454
Thiruvalla 412611
Thiruvalla 511646
Thiruvalla 412623
Thiruvalla 550590
Thiruvalla 489602
Thiruvalla 412596
Thiruvalla 568891
Thiruvalla 455806
Thiruvalla 540294
Thiruvalla 481866
Thiruvalla 488848
Thiruvalla 523137
Thiruvalla 495483
Thiruvalla 500311
Thiruvalla 510854
Thiruvalla 401716
Thiruvalla 502819
Thiruvalla 278124
Thiruvalla 534591
Thiruvalla 233164
Thiruvalla 493079
Thiruvalla 489135
Thiruvalla 502345
Thiruvalla 488837
Thiruvalla 521683
Thiruvalla 286840
Thiruvalla 390017
Thiruvalla 316313
Thiruvalla 304681
Thiruvalla 412608
Thiruvalla 487693
Thiruvalla 477507
Thiruvalla 442425
Thiruvalla 233049
Thiruvalla 522024
Thiruvalla 519137
Thiruvalla 481441
Thiruvalla 474488
Thiruvalla 412646
Thiruvalla 241498
Thiruvalla 541869
Thiruvalla 484564
Thiruvalla 529226
Thiruvalla 480785
Thiruvalla 291884
Thiruvalla 489139
Thiruvalla 550584
Thiruvalla 489622
Thiruvalla 489611
Thiruvalla 476353
Thiruvalla 304657
Thiruvallur 337204
Thiruvallur 165402
Thiruvallur 200644
Thiruvallur 553362
Thiruvallur 458617
Thiruvallur 338359
Thiruvallur 566051
Thiruvallur 248721
Thiruvallur 199464
Thiruvallur 388842
Thiruvallur 167123
Thiruvallur 425583
Thiruvallur 332045
Thiruvallur 366611
Thiruvallur 430667
Thiruvallur 200472
Thiruvallur 579447
Thiruvallur 553135
Thiruvallur 555986
Thiruvallur 492403
Thiruvallur 219911
Thiruvallur 199394
Thiruvallur 557396
Thiruvallur 391422
Thiruvallur 383313
Thiruvallur 323280
Thiruvallur 165332
Thiruvallur 515696
Thiruvallur 165401
Thiruvallur 379920
Thiruvallur 166081
Thiruvallur 492408
Thiruvallur 165394
Thiruvallur 518312
Thiruvallur 533285
Thiruvallur 290343
Thiruvallur 508804
Thiruvallur 200316
Thiruvallur 471225
Thiruvallur 434878
Thiruvallur 471230
Thiruvallur 560884
Thiruvallur 384789
Thiruvallur 184916
Thiruvallur 393305
Thiruvallur 335372
Thiruvallur 496700
Thiruvallur 383278
Thiruvallur 497020
Thiruvallur 509281
Thiruvallur 546406
Thiruvallur 330530
Thiruvallur 574522
Thiruvallur 391565
Thiruvallur 479165
Thiruvallur 289385
Thiruvallur 484862
Thiruvallur 439623
Thiruvallur 114216
Thiruvallur 405250
Thiruvallur 369546
Thiruvallur 562000
Thiruvallur 509755
Thiruvallur 198726
Thiruvallur 60474
Thiruvallur 224097
Thiruvallur 544958
Thiruvallur 488587
Thiruvallur 165328
Thiruvallur 480839
Thiruvallur 274750
Thiruvallur 201923
Thiruvallur 486754
Thiruvallur 214351
Thiruvallur 165331
Thiruvallur 497754
Thiruvallur 360318
Thiruvallur 184064
Thiruvallur 184545
Thiruvallur 511291
Thiruvallur 509277
Thiruvallur 525020
Thiruvallur 345066
Thiruvallur 237622
Thiruvallur 425068
Thiruvananthapuram 77099
Thiruvananthapuram 78307
Thiruvananthapuram 78947
Thiruvananthapuram 78306
Thiruvananthapuram 77470
Thiruvananthapuram 77522
Thiruvananthapuram 352539
Thiruvananthapuram 77118
Thiruvananthapuram 77454
Thiruvananthapuram 77433
Thiruvananthapuram 448001
Thiruvananthapuram 282992
Thiruvananthapuram 210648
Thiruvananthapuram 247749
Thiruvananthapuram 376000
Thiruvananthapuram 78852
Thiruvananthapuram 77468
Thiruvananthapuram 114695
Thiruvananthapuram 89375
Thiruvananthapuram 110754
Thiruvananthapuram 77093
Thiruvananthapuram 468038
Thiruvananthapuram 77437
Thiruvananthapuram 292719
Thiruvananthapuram 163801
Thiruvananthapuram 133656
Thiruvananthapuram 77111
Thiruvananthapuram 465875
Thiruvananthapuram 391669
Thiruvananthapuram 119307
Thiruvananthapuram 338348
Thiruvananthapuram 87058
Thiruvananthapuram 187312
Thiruvananthapuram 550932
Thiruvananthapuram 473856
Thiruvananthapuram 507986
Thiruvananthapuram 78006
Thiruvananthapuram 541325
Thiruvananthapuram 77453
Thiruvananthapuram 78003
Thiruvananthapuram 339050
Thiruvananthapuram 85743
Thiruvananthapuram 317722
Thiruvananthapuram 77471
Thiruvananthapuram 205238
Thiruvananthapuram 322490
Thiruvananthapuram 445744
Thiruvananthapuram 78027
Thiruvananthapuram 121922
Thiruvananthapuram 514861
Thiruvananthapuram 109076
Thiruvananthapuram 274732
Thiruvananthapuram 545867
Thiruvananthapuram 84647
Thiruvananthapuram 78576
Thiruvananthapuram 475122
Thiruvananthapuram 475124
Thiruvananthapuram 96859
Thiruvananthapuram 568792
Thiruvananthapuram 78854
Thiruvananthapuram 78858
Thiruvananthapuram 87830
Thiruvananthapuram 286809
Thiruvananthapuram 475127
Thiruvananthapuram 261593
Thiruvananthapuram 301176
Thiruvananthapuram 318750
Thiruvananthapuram 77096
Thiruvananthapuram 84684
Thiruvananthapuram 578747
Thiruvananthapuram 427717
Thiruvananthapuram 338725
Thiruvananthapuram 281572
Thiruvananthapuram 413613
Thiruvananthapuram 348963
Thiruvananthapuram 475123
Thiruvananthapuram 78648
Thiruvananthapuram 296077
Thiruvananthapuram 475130
Thiruvananthapuram 475126
Thiruvananthapuram 81077
Thiruvananthapuram 77526
Thiruvananthapuram 78849
Thiruvananthapuram 475129
Thiruvananthapuram 282979
Thiruvananthapuram 478508
Thiruvananthapuram 475125
Thiruvananthapuram 475128
Thiruvananthapuram 78001
Thiruvananthapuram 472608
Thiruvananthapuram 78305
Thiruvananthapuram 566528
Thiruvananthapuram 421445
Thiruvananthapuram 221914
Thiruvananthapuram 469843
Thiruvananthapuram 261962
Thiruvananthapuram 523612
Thiruvananthapuram 214200
Thiruvananthapuram 567376
Thiruvananthapuram 135183
Thiruvananthapuram 106026
Thiruvananthapuram 479693
Thiruvananthapuram 463812
Thiruvananthapuram 115186
Thiruvananthapuram 108782
Thiruvananthapuram 117586
Thiruvananthapuram 427718
Thiruvananthapuram 564001
Thiruvananthapuram 313196
Thiruvananthapuram 100059
Thiruvananthapuram 140882
Thiruvananthapuram 124733
Thiruvananthapuram 450967
Thiruvananthapuram 85731
Thiruvananthapuram 84203
Thiruvananthapuram 113125
Thiruvananthapuram 420053
Thiruvananthapuram 481406
Thiruvananthapuram 77095
Thiruvananthapuram 366874
Thiruvananthapuram 264284
Thiruvananthapuram 84667
Thiruvananthapuram 372438
Thiruvananthapuram 464435
Thiruvananthapuram 188781
Thiruvananthapuram 502016
Thiruvananthapuram 557677
Thiruvananthapuram 449772
Thiruvananthapuram 78304
Thiruvananthapuram 453964
Thiruvananthapuram 437621
Thiruvananthapuram 85022
Thiruvananthapuram 266950
Thiruvananthapuram 440327
Thiruvananthapuram 465128
Thiruvananthapuram 358818
Thiruvananthapuram 161417
Thiruvananthapuram 507894
Thiruvananthapuram 96827
Thiruvananthapuram 377070
Thiruvananthapuram 248363
Thiruvananthapuram 472131
Thiruvananthapuram 318241
Thiruvananthapuram 300965
Thiruvananthapuram 99460
Thiruvananthapuram 77435
Thiruvananthapuram 405541
Thiruvananthapuram 89573
Thiruvananthapuram 252435
Thiruvananthapuram 80852
Thiruvananthapuram 243862
Thiruvananthapuram 109074
Thiruvananthapuram 82165
Thiruvananthapuram 414275
Thiruvananthapuram 253308
Thiruvananthapuram 440660
Thiruvananthapuram 485953
Thiruvananthapuram 346489
Thiruvananthapuram 301958
Thiruvananthapuram 522870
Thiruvananthapuram 286626
Thiruvananthapuram 461558
Thiruvananthapuram 357514
Thiruvananthapuram 265372
Thiruvananthapuram 247746
Thiruvananthapuram 222829
Thiruvananthapuram 221631
Thiruvananthapuram 206016
Thiruvananthapuram 391121
Thiruvananthapuram 106362
Thiruvananthapuram 547363
Thiruvananthapuram 339506
Thiruvananthapuram 564849
Thiruvananthapuram 488220
Thiruvananthapuram 77606
Thiruvananthapuram 528220
Thiruvananthapuram 120146
Thiruvananthapuram 437561
Thiruvananthapuram 107462
Thiruvananthapuram 541318
Thiruvananthapuram 433695
Thiruvananthapuram 430387
Thiruvananthapuram 109073
Thiruvananthapuram 461545
Thiruvananthapuram 198838
Thiruvananthapuram 250597
Thiruvananthapuram 126155
Thiruvananthapuram 429570
Thiruvananthapuram 96262
Thiruvananthapuram 463825
Thiruvananthapuram 577356
Thiruvananthapuram 528216
Thiruvananthapuram 420316
Thiruvananthapuram 191933
Thiruvananthapuram 432221
Thiruvananthapuram 90950
Thiruvananthapuram 253079
Thiruvananthapuram 147308
Thiruvananthapuram 424679
Thiruvananthapuram 85101
Thiruvananthapuram 487503
Thiruvananthapuram 508058
Thiruvananthapuram 371622
Thiruvananthapuram 369387
Thiruvananthapuram 100694
Thiruvananthapuram 400318
Thiruvananthapuram 77116
Thiruvananthapuram 85097
Thiruvananthapuram 396904
Thiruvananthapuram 234994
Thiruvananthapuram 77115
Thiruvananthapuram 442557
Thiruvananthapuram 557686
Thiruvananthapuram 426117
Thiruvananthapuram 570125
Thiruvananthapuram 165460
Thiruvananthapuram 335279
Thiruvananthapuram 519272
Thiruvananthapuram 393881
Thiruvananthapuram 300821
Thiruvananthapuram 282971
Thiruvananthapuram 416412
Thiruvananthapuram 571432
Thiruvananthapuram 77094
Thiruvananthapuram 370741
Thiruvananthapuram 212089
Thiruvananthapuram 113910
Thiruvananthapuram 423678
Thiruvananthapuram 431913
Thiruvananthapuram 522991
Thiruvananthapuram 559548
Thiruvananthapuram 377172
Thiruvananthapuram 444443
Thiruvananthapuram 538759
Thiruvananthapuram 491488
Thiruvananthapuram 377920
Thiruvananthapuram 214248
Thiruvananthapuram 100076
Thiruvananthapuram 223321
Thiruvananthapuram 417068
Thiruvananthapuram 358406
Thiruvananthapuram 77110
Thiruvananthapuram 476008
Thiruvananthapuram 518492
Thiruvananthapuram 420075
Thiruvananthapuram 124804
Thiruvananthapuram 574138
Thiruvananthapuram 325218
Thiruvananthapuram 499241
Thiruvananthapuram 525716
Thiruvananthapuram 195899
Thiruvananthapuram 357402
Thiruvananthapuram 102217
Thiruvananthapuram 445477
Thiruvananthapuram 357419
Thiruvananthapuram 437564
Thiruvananthapuram 576527
Thiruvananthapuram 101678
Thiruvananthapuram 413616
Thiruvananthapuram 541944
Thiruvananthapuram 101696
Thiruvananthapuram 279897
Thiruvananthapuram 247379
Thiruvananthapuram 119421
Thiruvananthapuram 114548
Thiruvananthapuram 561408
Thiruvananthapuram 470698
Thiruvananthapuram 437426
Thiruvananthapuram 326103
Thiruvananthapuram 100168
Thiruvananthapuram 529702
Thiruvananthapuram 107770
Thiruvananthapuram 165480
Thiruvananthapuram 109077
Thiruvananthapuram 540523
Thiruvananthapuram 226652
Thiruvananthapuram 528873
Thiruvananthapuram 422043
Thiruvananthapuram 396840
Thiruvarur 527128
Thiruvarur 557819
Thiruvarur 552482
Thiruvarur 538747
Thiruvarur 456070
Thiruvarur 555953
Thiruvarur 453677
Thiruvarur 543026
Thiruvarur 564291
Thiruvarur 456347
Thiruvarur 455198
Thiruvarur 569098
Thiruvarur 504598
Thiruvarur 455287
Thiruvarur 533063
Thiruvarur 454065
Thiruvarur 539718
Thiruvarur 456389
Thiruvarur 453688
Thiruvarur 538936
Thiruvarur 455479
Thiruvarur 454477
Thiruvarur 495936
Thiruvarur 492735
Thiruvarur 455209
Thiruvarur 475799
Thiruvarur 535188
Thiruvarur 542009
Thiruvarur 532850
Thiruvarur 495886
Thiruvarur 573189
Thiruvarur 533288
Thiruvarur 538697
Thiruvarur 527918
Thiruvarur 529491
Thodupuzha 520546
Thodupuzha 576301
Thodupuzha 478776
Thodupuzha 451355
Thodupuzha 420895
Thodupuzha 490375
Thodupuzha 508864
Thodupuzha 491748
Thodupuzha 416722
Thodupuzha 447982
Thodupuzha 416723
Thodupuzha 233115
Thodupuzha 491740
Thodupuzha 411491
Thodupuzha 429405
Thodupuzha 468259
Thodupuzha 411265
Thodupuzha 481024
Thodupuzha 232836
Thodupuzha 411676
Thodupuzha 429945
Thodupuzha 477172
Thodupuzha 232818
Thodupuzha 411508
Thoothukudi 485418
Thoothukudi 142339
Thoothukudi 142359
Thoothukudi 167574
Thoothukudi 142360
Thoothukudi 202472
Thoothukudi 142346
Thoothukudi 142358
Thoothukudi 142361
Thoothukudi 433963
Thoothukudi 531361
Thoothukudi 142378
Thoothukudi 418713
Thoothukudi 550208
Thoothukudi 435102
Thoothukudi 558433
Thoothukudi 296678
Thoothukudi 512482
Thoothukudi 433806
Thoothukudi 242063
Thoothukudi 233536
Thoothukudi 567391
Thoothukudi 224160
Thoothukudi 262496
Thoothukudi 528183
Thoothukudi 224372
Thoothukudi 224720
Thoothukudi 532348
Thoothukudi 354227
Thoothukudi 142376
Thoothukudi 540651
Thoothukudi 199444
Thoothukudi 246786
Thoothukudi 544895
Thoothukudi 479664
Thoothukudi 142374
Thoothukudi 511621
Thoothukudi 202312
Thoothukudi 202313
Thoothukudi 539537
Thoothukudi 479532
Thoothukudi 367931
Thoothukudi 547065
Thoothukudi 538339
Thoothukudi 242076
Thoothukudi 142372
Thoothukudi 262498
Thoothukudi 344288
Thoothukudi 305924
Thoothukudi 395758
Thoothukudi 497993
Thoothukudi 534681
Thoothukudi 560936
Thoothukudi 574236
Thoothukudi 204152
Thoothukudi 524026
Thoothukudi 572796
Thoothukudi 556099
Thoothukudi 206958
Thoothukudi 142353
Thoothukudi 511533
Thoothukudi 204154
Thoothukudi 550921
Thoothukudi 556881
Thoothukudi 311629
Thoothukudi 142379
Thoothukudi 466180
Thoothukudi 259224
Thoothukudi 142354
Thoothukudi 534550
Thoothukudi 477168
Thoothukudi 233617
Thoothukudi 574238
Thoothukudi 142362
Thoothukudi 384669
Thoothukudi 572794
Thoothukudi 439559
Thoothukudi 452672
Thoothukudi 554597
Thoothukudi 285186
Thoothukudi 248115
Thoothukudi 142348
Thoothukudi 450671
Thoothukudi 452424
Thoothukudi 522314
Thoothukudi 391222
Thoothukudi 142343
Thoothukudi 479577
Thoothukudi 550274
Thoothukudi 546950
Thoothukudi 554618
Thoothukudi 242051
Thoothukudi 210770
Thoothukudi 242054
Thoothukudi 431308
Thoothukudi 511616
Thoothukudi 434240
Thoothukudi 511597
Thoothukudi 142338
Thoothukudi 555178
Thoothukudi 528647
Thoothukudi 205433
Thoothukudi 546275
Thoothukudi 524373
Thoothukudi 142355
Thoothukudi 568271
Thoothukudi 486368
Thoothukudi 375018
Thoothukudi 342316
Thoothukudi 567930
Thoothukudi 142347
Thoothukudi 540644
Thoothukudi 575915
Thoothukudi 537801
Thoothukudi 473845
Thoothukudi 458677
Thoothukudi 546224
Thoothukudi 554636
Thrissur 73798
Thrissur 73953
Thrissur 91909
Thrissur 94312
Thrissur 74253
Thrissur 86242
Thrissur 264275
Thrissur 74249
Thrissur 74261
Thrissur 77994
Thrissur 424100
Thrissur 86828
Thrissur 97125
Thrissur 97123
Thrissur 73944
Thrissur 307266
Thrissur 74490
Thrissur 302937
Thrissur 112193
Thrissur 73945
Thrissur 109382
Thrissur 97124
Thrissur 268808
Thrissur 74572
Thrissur 89735
Thrissur 253061

In [41]:
int(data_j['Gadwal']['restaurants']['480632']['price'].split(" ")[0][1:])

120

In [43]:
df_cities_without_subregions["id"] = r_id
df_cities_without_subregions["name"] = name
df_cities_without_subregions["city"] = city_arr
df_cities_without_subregions["sub_region"] = sub_region
df_cities_without_subregions["rating"] = rating
df_cities_without_subregions["rating_count"] = rating_count
df_cities_without_subregions["cost"] = cost

In [44]:
df_cities_without_subregions

,id,name,city,sub_region,rating,rating_count,cost
0,567335,AB FOODS POINT,Abohar,Abohar,--,Too Few Ratings,200
1,531342,Janta Sweet House,Abohar,Abohar,4.4,50+ ratings,200
2,158203,theka coffee desi,Abohar,Abohar,3.8,100+ ratings,100
3,187912,Singh Hut,Abohar,Abohar,3.7,20+ ratings,250
4,543530,GRILL MASTERS,Abohar,Abohar,--,Too Few Ratings,250
...,...,...,...,...,...,...,...
53008,553122,The Food Delight,Yavatmal,Yavatmal,--,Too Few Ratings,200
53009,562647,MAITRI FOODS & BEVERAGES,Yavatmal,Yavatmal,--,Too Few Ratings,300
53010,559435,Cafe Bella Ciao,Yavatmal,Yavatmal,--,Too Few Ratings,300
53011,418989,GRILL ZILLA,Yavatmal,Yavatmal,--,Too Few Ratings,250
53012,447770,Lazeez kitchen,Yavatmal,Yavatmal,--,Too Few Ratings,200

In [45]:
#df_cities_without_subregions =pd.DataFrame( {'id':[],'name':[],'city':[],'sub_region':[],'rating':[],'rating_count':[],'cost':[]})

df_cities_with_subregions =pd.DataFrame()
r_id1 = []
name1 = []
city_arr1 = []
sub_region1 = []
rating1 = []
rating_count1 = []
cost1 = []

for city in cities_with_subregions:
  #city_link = data_j[i]['link']

  #print(data_j[i].keys())
  for sub_region in data_j[city].keys():

    for restaurant in data_j[city][sub_region]['restaurants'].keys():
      #print(data_j[city][sub_region]['restaurants'][restaurant].keys())

      city_arr1.append(city)
      sub_region1.append(sub_region)
      r_id1.append(restaurant)


      name1.append(data_j[city][sub_region]['restaurants'][restaurant]['name'])
      rating1.append(data_j[city][sub_region]['restaurants'][restaurant]['rating'])
      #print(id)
      try:
        rating_count1.append(data_j[city][sub_region]['restaurants'][restaurant]['rating_count'])
      except:
        rating_count1.append('NA')
      try:
        cost1.append(int(data_j[city][sub_region]['restaurants'][restaurant]['cost'].split(" ")[1]))
      except:
        try:
          cost1.append(data_j[city][sub_region]['restaurants'][restaurant]['cost'])
        except:
          cost1.append(int((data_j[city][sub_region]['restaurants'][restaurant]['price'].split(" ")[0])[1:]))
      #restaurant_link = data_j[i]['restaurants'][k]['link']
      #print({'id':restaurant,'name':name,'city':city,'sub_region':sub_region,'rating':rating,'rating_count':rating_count,'cost':cost})

    #   df_cities_without_subregions = df_cities_without_subregions.append(df, ignore_index = True)

In [46]:
df_cities_with_subregions["id"] = r_id1
df_cities_with_subregions["name"] = name1
df_cities_with_subregions["city"] = city_arr1
df_cities_with_subregions["sub_region"] = sub_region1
df_cities_with_subregions["rating"] = rating1
df_cities_with_subregions["rating_count"] = rating_count1
df_cities_with_subregions["cost"] = cost1

In [47]:
df_cities_with_subregions

,id,name,city,sub_region,rating,rating_count,cost
0,40184,M.A.D By Tomato'S,Ahmedabad,Vastrapur,4.3,100+ ratings,1200
1,45635,Tea Post,Ahmedabad,Vastrapur,4.0,100+ ratings,150
2,483947,Shanghai Chicken Lolipops,Ahmedabad,Vastrapur,--,Too Few Ratings,300
3,483946,Ministry Of Momos,Ahmedabad,Vastrapur,--,Too Few Ratings,300
4,181107,Sizzling - The Cake Room,Ahmedabad,Vastrapur,--,Too Few Ratings,350
...,...,...,...,...,...,...,...
128386,564123,FOOD CAVE,Vizag,link,--,NA,150
128387,558400,Shawarma Cravings,Vizag,link,--,NA,250
128388,565914,Absolute Shawarma,Vizag,link,--,NA,250
128389,565568,Absolute Momo Cafe,Vizag,link,--,NA,300
128390,448609,SSP FOOD PARADISE,Vizag,link,--,NA,250

In [48]:
final_data = pd.concat([df_cities_with_subregions,df_cities_without_subregions],ignore_index=True)

In [49]:
final_data

,id,name,city,sub_region,rating,rating_count,cost
0,40184,M.A.D By Tomato'S,Ahmedabad,Vastrapur,4.3,100+ ratings,1200
1,45635,Tea Post,Ahmedabad,Vastrapur,4.0,100+ ratings,150
2,483947,Shanghai Chicken Lolipops,Ahmedabad,Vastrapur,--,Too Few Ratings,300
3,483946,Ministry Of Momos,Ahmedabad,Vastrapur,--,Too Few Ratings,300
4,181107,Sizzling - The Cake Room,Ahmedabad,Vastrapur,--,Too Few Ratings,350
...,...,...,...,...,...,...,...
181399,553122,The Food Delight,Yavatmal,Yavatmal,--,Too Few Ratings,200
181400,562647,MAITRI FOODS & BEVERAGES,Yavatmal,Yavatmal,--,Too Few Ratings,300
181401,559435,Cafe Bella Ciao,Yavatmal,Yavatmal,--,Too Few Ratings,300
181402,418989,GRILL ZILLA,Yavatmal,Yavatmal,--,Too Few Ratings,250
181403,447770,Lazeez kitchen,Yavatmal,Yavatmal,--,Too Few Ratings,200

In [51]:
final_data.to_csv("tabular_seiggyData.csv")

In [33]:
final_data = pd.read_csv("/content/tabular_seiggyData.csv",index_col=0)

In [35]:
final_data

,id,name,city,sub_region,rating,rating_count,cost
0,40184,M.A.D By Tomato'S,Ahmedabad,Vastrapur,4.3,100+ ratings,1200.0
1,45635,Tea Post,Ahmedabad,Vastrapur,4.0,100+ ratings,150.0
2,483947,Shanghai Chicken Lolipops,Ahmedabad,Vastrapur,--,Too Few Ratings,300.0
3,483946,Ministry Of Momos,Ahmedabad,Vastrapur,--,Too Few Ratings,300.0
4,181107,Sizzling - The Cake Room,Ahmedabad,Vastrapur,--,Too Few Ratings,350.0
...,...,...,...,...,...,...,...
181399,553122,The Food Delight,Yavatmal,Yavatmal,--,Too Few Ratings,200.0
181400,562647,MAITRI FOODS & BEVERAGES,Yavatmal,Yavatmal,--,Too Few Ratings,300.0
181401,559435,Cafe Bella Ciao,Yavatmal,Yavatmal,--,Too Few Ratings,300.0
181402,418989,GRILL ZILLA,Yavatmal,Yavatmal,--,Too Few Ratings,250.0
181403,447770,Lazeez kitchen,Yavatmal,Yavatmal,--,Too Few Ratings,200.0

## 1. How many cities (including subregions) where Swiggy is having its restaurants listed?

In [36]:
len(final_data['sub_region'].unique())

838

## 2. How many cities  (don't include subregions) where Swiggy is having their restaurants listed?

In [37]:
len(final_data['city'].unique())

557

## 3. The Subregion of Delhi with the maximum number of restaurants listed on Swiggy?

In [38]:
Delhi_data = final_data[final_data['city'] == 'Delhi']

In [39]:
ddf = Delhi_data[['city','sub_region']].groupby(['city','sub_region'])['sub_region'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(5)

In [40]:
ddf

     city         sub_region  count
11  Delhi        Indirapuram   1279
24  Delhi             Rohini   1138
8   Delhi  Greater Kailash 2   1038
16  Delhi        Laxmi Nagar    933
17  Delhi      Malviya Nagar    901

## 4. Name the top 5 Most Expensive Cities in the Datasets.

In [41]:
final_data['cost'].unique()

array([1.2000e+03, 1.5000e+02, 3.0000e+02, 3.5000e+02, 4.0000e+02,
       5.0000e+02, 2.5000e+02, 2.0000e+02, 1.0000e+02, 2.8000e+02,
       6.0000e+02, 7.0000e+02, 3.2000e+02, 1.3000e+03, 8.0000e+02,
       1.0000e+03, 8.5000e+02, 1.2000e+02, 4.5000e+02, 1.9900e+02,
       1.8000e+02, 9.0000e+02, 4.0000e+01, 5.0000e+01, 1.5000e+03,
       1.4000e+02, 1.4900e+02, 1.1000e+03, 3.2500e+02, 6.0000e+01,
       3.9900e+02, 5.5000e+02, 6.5000e+02, 9.9000e+01, 1.2500e+02,
       4.1000e+02, 8.0000e+01,        nan, 1.0000e+01, 1.2450e+03,
       1.6000e+02, 3.0000e+01, 5.1000e+02, 9.0000e+01, 2.6000e+02,
       1.8000e+03, 1.1000e+02, 5.0000e+00, 2.4000e+02, 2.9900e+02,
       4.6000e+02, 1.9000e+03, 1.7000e+02, 3.5200e+02, 2.0000e+01,
       2.9800e+02, 2.0000e+00, 4.9900e+02, 2.5200e+02, 3.3000e+02,
       7.5000e+02, 1.3000e+02, 2.0000e+03, 7.0000e+01, 7.5000e+01,
       1.9800e+02, 2.3000e+02, 2.2000e+02, 2.9000e+02, 6.9900e+02,
       2.7000e+02, 3.6000e+02, 3.0100e+02, 3.4000e+02, 2.4900e+02,
       1.9000e+02, 2.7500e+02, 7.1000e+02, 9.9900e+02, 1.2500e+03,
       3.4900e+02, 1.7800e+02, 1.4800e+02, 3.8000e+02, 1.7500e+02,
       5.9900e+02, 2.5700e+02, 1.7100e+02, 1.9300e+02, 1.8900e+02,
       1.9700e+02, 3.3600e+02, 2.5100e+02, 2.4500e+02, 2.1900e+02,
       1.8800e+02, 1.3700e+02, 1.6400e+02, 1.2600e+02, 2.6800e+02,
       4.2100e+02, 2.1000e+02, 5.4000e+02, 2.3900e+02, 1.4000e+01,
       2.5900e+02, 3.1000e+02, 5.5000e+01, 1.4000e+03, 4.9700e+02,
       1.7600e+02, 2.5500e+02, 9.9000e+02, 1.5800e+02, 4.3800e+02,
       3.5400e+02, 4.8300e+02, 1.2900e+02, 6.9000e+01, 2.2500e+02,
       3.9800e+02, 3.9000e+01, 5.6000e+02, 2.7800e+02, 3.0000e+03,
       7.4900e+02, 2.4000e+03, 9.5000e+02, 4.8000e+02, 2.5800e+02,
       4.5000e+01, 3.5900e+02, 8.5000e+01, 1.1900e+02, 2.2400e+02,
       3.8500e+02, 5.9000e+02, 7.0300e+02, 3.4700e+02, 3.6300e+02,
       7.9000e+02, 7.9800e+02, 1.5000e+01, 8.9000e+01, 3.5500e+02,
       1.0500e+02, 7.1900e+02, 1.0990e+03, 2.8900e+02, 4.4000e+02,
       4.2000e+02, 5.5900e+02, 2.1500e+02, 3.9000e+02, 1.0000e+00,
       1.5900e+02, 1.3800e+02, 7.6000e+02, 5.9500e+02, 2.1800e+02,
       6.5000e+01, 5.3200e+02, 2.8800e+02, 2.9200e+02, 2.1400e+02,
       2.6700e+02, 2.8400e+02, 2.5000e+01, 2.8300e+02, 7.4600e+02,
       2.6900e+02, 2.8700e+02, 2.5400e+02, 5.0200e+02, 2.0220e+03,
       1.0400e+02, 3.7000e+02, 2.5000e+03, 8.9900e+02, 1.6300e+02,
       1.8200e+02, 2.0300e+02, 2.9600e+02, 5.9700e+02, 3.2700e+02,
       2.9300e+02, 1.6900e+02, 2.4800e+02, 7.9900e+02, 2.9500e+02,
       2.6300e+02, 2.3800e+02, 3.7800e+02, 8.0000e+03, 3.7500e+02,
       2.8000e+01, 4.9800e+02, 4.9000e+02, 4.5900e+02, 1.7900e+02,
       3.5000e+03, 1.6000e+03, 2.0900e+02, 1.8300e+02, 1.5500e+02,
       5.9000e+01, 1.0380e+03, 3.8400e+02, 4.9000e+01, 2.0100e+02,
       6.8000e+02, 1.1100e+02, 4.0000e+00, 0.0000e+00, 3.1300e+02,
       2.2900e+02, 2.6500e+02, 1.1800e+02, 3.5700e+02, 2.9400e+02,
       3.2800e+02, 6.4000e+02, 2.9700e+02, 4.3000e+02, 8.4900e+02,
       6.4900e+02, 1.3500e+02, 6.7500e+02, 1.1500e+02, 1.3200e+02,
       1.5100e+02, 5.2000e+02, 3.9600e+02, 9.5000e+01, 1.0200e+02,
       3.8000e+01, 3.0000e+00, 1.2400e+02, 1.0600e+02, 1.7000e+03,
       3.2000e+01, 3.7900e+02, 4.2500e+02, 9.8000e+01, 5.2600e+02,
       8.2000e+02, 2.3500e+02, 6.2000e+02, 2.8500e+02, 6.3000e+02,
       6.0000e+03, 5.0230e+03, 4.4900e+02, 2.0400e+02, 8.4000e+02,
       8.3900e+02, 5.8000e+02, 1.0900e+02, 3.0800e+02, 3.4800e+02,
       1.0500e+03, 1.6500e+03, 3.0500e+02, 8.4000e+01, 5.7400e+02,
       7.4800e+02, 3.1800e+02, 2.1000e+03, 1.2900e+03, 5.7000e+01,
       6.6000e+02, 2.7900e+02, 3.1500e+02, 1.4700e+02, 1.0450e+03,
       2.4000e+01, 8.8000e+02, 3.3800e+02, 4.9300e+02, 2.2000e+03,
       1.8500e+02, 4.9500e+02, 4.4400e+02, 1.5700e+02, 4.6200e+02,
       1.1600e+03, 3.1900e+02, 1.3440e+03, 4.0200e+02, 4.8000e+01,
       7.8000e+02, 3.8900e+02, 3.2000e+03, 4.1600e+02, 3.3600e+03,
       5.3000e+02, 3.6600e+02, 1.4500e+02, 9.6000e+01, 2.2100e+02,
       5.6400e+02, 9.2000e+02, 1.1000e+01, 3.9500e+02, 4.7800e+02,
       2.0800e+02, 7.0100e+02, 1.3400e+02, 7.4700e+02, 1.0900e+03,
       2.3100e+02, 1.1200e+03, 1.2400e+03, 1.4990e+03, 1.2990e+03,
       2.2200e+02, 1.2100e+02, 2.5600e+02, 7.2000e+02, 2.3600e+02,
       2.7600e+02, 3.3300e+02, 1.3900e+02, 2.9000e+01, 3.1000e+03,
       2.7000e+03, 2.7100e+02, 3.5100e+02, 3.1100e+02, 2.8600e+02,
       1.9500e+02, 5.4900e+02, 1.9600e+02, 4.0900e+02, 5.8800e+02,
       5.8900e+02, 4.7500e+02, 2.2000e+01, 2.6000e+01, 5.0000e+03,
       2.8000e+03, 5.9800e+02, 1.0010e+03, 1.3000e+01, 5.3000e+01,
       3.5000e+01, 1.6500e+02, 1.3100e+02, 3.6000e+01, 1.1500e+03,
       1.0200e+03, 2.7700e+02, 1.1990e+03, 1.7700e+02, 5.1800e+02,
       5.4000e+01, 6.7000e+02, 3.4500e+02, 4.8900e+02, 4.4800e+02,
       8.0000e+00, 3.9990e+03, 1.2000e+01, 7.9000e+01, 8.8800e+02,
       1.5200e+02, 1.0800e+02, 2.5090e+03, 4.5800e+02, 1.9990e+03,
       3.0035e+05, 1.4400e+02, 5.0700e+02, 8.7000e+01, 2.1100e+02,
       1.5600e+02, 6.6600e+02, 9.4000e+01, 5.0100e+02, 2.1600e+02,
       6.2500e+02, 8.8000e+01, 1.0100e+02, 3.1200e+02, 6.4000e+01])

In [42]:
final_data[final_data['cost']==300350]

,id,name,city,sub_region,rating,rating_count,cost
148181,477718,KOHINOOR HOTEL,Hinganghat,Hinganghat,--,Too Few Ratings,300350.0

In [43]:
final_data = final_data.replace('NA', 0)
final_data = final_data.fillna(0)

In [44]:
final_data['cost'] = final_data['cost'].astype('int')

In [45]:
df1 = final_data[['city','cost']].groupby(['city'])['cost'] \
                             .mean() \
                             .reset_index(name='mean_cost') \
                             .sort_values(['mean_cost'], ascending=False) \
                             .head(20).reset_index(drop=True)

In [46]:
df1

           city     mean_cost
0    Hinganghat  18962.437500
1     South-goa    469.401024
2     North-goa    467.895726
3       Gangtok    466.666667
4     Mussoorie    460.000000
5   Central-goa    421.618812
6    Darjeeling    406.666667
7        Kohima    400.000000
8        Rangpo    400.000000
9     Sultanpur    379.964336
10     Itanagar    375.000000
11   Naharlagun    375.000000
12      Bikaner    373.346683
13       Mumbai    371.892536
14        Sirsa    371.130802
15          Diu    370.000000
16     Nainital    356.250000
17     Lonavala    344.451613
18      Lonavla    340.556701
19     Shillong    338.958763

## 5. List out the top 5 Restaurants with Maximum & minimum ratings throughout the dataset.

In [47]:
final_data["rating"].dtype

dtype('O')

In [48]:
final_data["rating"].unique()

array(['4.3', '4.0', '--', '3.6', '3.7', '4.2', '3.9', '3.0', '4.7',
       '3.8', '4.1', '3.5', '4.4', '4.5', '3.4', '4.6', '4.8', '2.7',
       '2.9', '3.3', '2.5', '3.2', '2.8', '1.9', 0, '2.6', '3.1', '4.9',
       '2.2', '2.4', '2.1', '5.0', '2.3', '1.8', '2.0', '1.1', '1.6',
       '1.5', '1.0', '1.2', '1.7', '1.4', '1.3'], dtype=object)

In [49]:
final_data = final_data.replace('--', 0)

In [50]:
final_data['rating'] = final_data['rating'].astype('float')

In [51]:
df5_max = final_data[final_data['rating']==5.0]
df5_min = final_data[final_data['rating']==0.0]

In [52]:
df5_max['rating_count'].unique()

array(['20+ ratings', '50+ ratings', 0, '100+ ratings'], dtype=object)

In [53]:
df5_max = df5_max[(df5_max["rating_count"]=="100+ ratings") | (df5_max["rating_count"]=="50+ ratings")].reset_index(drop=True)

In [54]:
# df5_max.reset_index(drop=True)
df5_max

,id,name,city,sub_region,rating,rating_count,cost
0,560433,HUNGER TREATS,Bangalore,Arekere,5.0,50+ ratings,300
1,31145,Gelato Vinto,Delhi,Greater Kailash New,5.0,50+ ratings,400
2,15442,Gelato Vinto,Delhi,Vasant Kunj,5.0,50+ ratings,250
3,15444,Gelato Vinto,Delhi,Rajouri Garden,5.0,50+ ratings,400
4,532251,Bento It,Hyderabad,Gachibowli,5.0,50+ ratings,500
5,513786,Tony Bakery,Jaipur,Manasarovar,5.0,100+ ratings,300
6,526984,SHRI KRISHNA FOOD ZONE,Katni,Katni,5.0,100+ ratings,200
7,388815,SHREE SAMARTHA CHAPATIS,Ratnagiri,Ratnagiri,5.0,50+ ratings,80

In [55]:
df5_min['rating_count'].unique()

array(['Too Few Ratings', 0], dtype=object)

In [56]:
len(df5_min)

104864

In [57]:
df5_min = df5_min[df5_min["rating_count"]=="Too Few Ratings" ].reset_index(drop=True)

In [58]:
df5_min

,id,name,city,sub_region,rating,rating_count,cost
0,483947,Shanghai Chicken Lolipops,Ahmedabad,Vastrapur,0.0,Too Few Ratings,300
1,483946,Ministry Of Momos,Ahmedabad,Vastrapur,0.0,Too Few Ratings,300
2,181107,Sizzling - The Cake Room,Ahmedabad,Vastrapur,0.0,Too Few Ratings,350
3,380709,Kwality Walls Frozen Dessert and Ice Cream Shop,Ahmedabad,Vastrapur,0.0,Too Few Ratings,300
4,570238,Ninjin,Ahmedabad,Vastrapur,0.0,Too Few Ratings,400
...,...,...,...,...,...,...,...
90779,553122,The Food Delight,Yavatmal,Yavatmal,0.0,Too Few Ratings,200
90780,562647,MAITRI FOODS & BEVERAGES,Yavatmal,Yavatmal,0.0,Too Few Ratings,300
90781,559435,Cafe Bella Ciao,Yavatmal,Yavatmal,0.0,Too Few Ratings,300
90782,418989,GRILL ZILLA,Yavatmal,Yavatmal,0.0,Too Few Ratings,250
90783,447770,Lazeez kitchen,Yavatmal,Yavatmal,0.0,Too Few Ratings,200

In [59]:
df5_min.sort_values(['cost'], ascending=False).head(10).reset_index(drop=True)

,id,name,city,sub_region,rating,rating_count,cost
0,477718,KOHINOOR HOTEL,Hinganghat,Hinganghat,0.0,Too Few Ratings,300350
1,456114,Oasis restaurant,Bangalore,Electronic City,0.0,Too Few Ratings,8000
2,565958,VENOM CLUB AND KITCHEN,Dehradun,Hathibarkala,0.0,Too Few Ratings,6000
3,524995,Aggarwal sweet india,Delhi,GTB Nagar,0.0,Too Few Ratings,5023
4,564511,SHAAN RESTAURANT,Mumbai,Vashi,0.0,Too Few Ratings,5000
5,579304,Rock N Shawarma Take Away,Ajmer,Ajmer,0.0,Too Few Ratings,3999
6,477654,Olive Beach,Bangalore,Central Bangalore,0.0,Too Few Ratings,3500
7,369682,"Ministry of Crab, Mumbai",Mumbai,Scruz Bandra East,0.0,Too Few Ratings,3500
8,469411,SRS HAVMOR,Hyderabad,Manikonda,0.0,Too Few Ratings,3360
9,471229,Sofra food court,Hyderabad,Vanasthalipuram,0.0,Too Few Ratings,3200

## 6. Name of top 5 cities with the highest number of restaurants listed

In [60]:
df6 = final_data[['id','city']].groupby(['city'])['id'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(5).reset_index()

In [61]:
df6

   index       city  count
0     45  Bangalore  16701
1    149      Delhi  14386
2    422       Pune  13145
3    223  Hyderabad  12439
4    121    Chennai  10987

## 7. Top 10 cities as per the number of restaurants listed?

In [62]:
df7 = final_data[['id','city']].groupby(['city'])['id'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(10).reset_index()

In [63]:
df7

   index       city  count
0     45  Bangalore  16701
1    149      Delhi  14386
2    422       Pune  13145
3    223  Hyderabad  12439
4    121    Chennai  10987
5    292    Kolkata   9651
6    361     Mumbai   7221
7    235     Jaipur   6250
8      6  Ahmedabad   4736
9    201    Gurgaon   4106

## 8. Name the top 5 Most Popular Restaurants in Pune

In [64]:
Pune_data = final_data[final_data['city'] == 'Pune']

In [65]:
Pune_data['rating_count'].unique()

array(['Too Few Ratings', '20+ ratings', '100+ ratings', '50+ ratings', 0,
       '500+ ratings', '1K+ ratings'], dtype=object)

In [66]:
popular_pune_data = Pune_data[(Pune_data["rating_count"]=="1K+ ratings")]

In [67]:
popular_pune_data = popular_pune_data.sort_values(['rating'],ascending=False).head(10).reset_index(drop=True)

In [68]:
popular_pune_data

,id,name,city,sub_region,rating,rating_count,cost
0,42906,Sheetal Restaurant,Pune,Kothrud,4.5,1K+ ratings,400
1,12450,Irani Cafe,Pune,Viman Nagar,4.5,1K+ ratings,250
2,238148,Theobroma,Pune,Kondhwa,4.5,1K+ ratings,800
3,180419,Kalika Dairy & Sweets,Pune,Magarpatta,4.5,1K+ ratings,200
4,106033,Potoba,Pune,Kothrud,4.4,1K+ ratings,300
5,83297,The Momo Panda,Pune,Kothrud,4.4,1K+ ratings,200
6,200980,Irani Cafe,Pune,Shivaji Nagar,4.4,1K+ ratings,200
7,11887,Samudra Veg,Pune,Kothrud,4.4,1K+ ratings,400
8,135737,Sandwich Express,Pune,Viman Nagar,4.4,1K+ ratings,200
9,25845,Fun Food-Taste of Indore,Pune,Pimple Saudagar,4.4,1K+ ratings,100

## 9. Which SubRegion in Delhi is having the least expensive restaurant in terms of cost?

In [69]:
Delhi_data

,id,name,city,sub_region,rating,rating_count,cost
39826,458744,TOOFAN SPOT CHINESE FOOD,Delhi,GTB Nagar,--,Too Few Ratings,200.0
39827,240885,Biryani Zone,Delhi,GTB Nagar,--,Too Few Ratings,200.0
39828,456206,FLAVOUR's,Delhi,GTB Nagar,--,Too Few Ratings,120.0
39829,67427,Bhogal Ji Bikaner Sweets,Delhi,GTB Nagar,4.3,50+ ratings,200.0
39830,392931,Vaishno Punjabi Dhaba(Adarsh nagar),Delhi,GTB Nagar,--,Too Few Ratings,350.0
...,...,...,...,...,...,...,...
54207,41890,Al Jawahar Restaurant (Jama Masjid),Delhi,link,3.6,NaN,400.0
54208,47849,Gupta Ji's Pav Bhaji,Delhi,link,4.2,NaN,150.0
54209,40824,Punjabi Zaika,Delhi,link,3.9,NaN,300.0
54210,385922,QURESHI MOMOS,Delhi,link,--,NaN,200.0
54211,12369,Wrapss Kathi Rolls,Delhi,link,3.9,NaN,200.0

In [70]:
df9 = final_data[['sub_region','cost']].groupby(['sub_region'])['cost'] \
                             .mean() \
                             .reset_index(name='mean_cost') \
                             .sort_values(['mean_cost']) \
                             .head(10).reset_index(drop=True)

In [71]:
df9

     sub_region   mean_cost
0         Hampi  100.000000
1       Hindaun  121.052632
2        Amreli  147.500000
3         Hansi  148.421053
4        Jalaun  150.000000
5      Bathinda  165.971591
6      Alambagh  167.272727
7  Ichalkaranji  168.421053
8     Nandurbar  169.230769
9    Shrirampur  169.444444

## 10. Top 5 most popular restaurant chains in India?

In [72]:
df10 = final_data.groupby(['name'])['name'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'],ascending=False) \
                             .head(10)\
                             .reset_index(drop=True)

In [73]:
df10

                                              name  count
0                                   Domino's Pizza    481
1                                        Pizza Hut    364
2                                              KFC    352
3  Kwality Walls Frozen Dessert and Ice Cream Shop    333
4                                   Baskin Robbins    321
5                                           Subway    271
6                                    The Good Bowl    237
7                           Faasos - Wraps & Rolls    236
8                                 The Biryani Life    235
9                      LunchBox - Meals and Thalis    232

In [74]:
final_data.groupby(['name'])['rating'] \
                             .mean() \
                             .reset_index(name='rating') \
                             .sort_values(['rating'],ascending=False) \
                             .head(10)\
                             .reset_index(drop=True)

                               name  rating
0                   Regalo Delights     5.0
1  Salam Bhai Biryani wale ki hotel     5.0
2           SHREE SAMARTHA CHAPATIS     5.0
3                          POP FOOD     5.0
4            Zaika Darbaar Junction     5.0
5                    Mota Moti Cafe     5.0
6                     Bombay bakers     5.0
7                            Moshio     5.0
8                               Teo     5.0
9                    The Table Cafe     5.0

## 11. Which restaurant in Pune has the most number of people visiting?

In [76]:
Pune_data['rating_count'].unique()

array(['Too Few Ratings', '20+ ratings', '100+ ratings', '50+ ratings', 0,
       '500+ ratings', '1K+ ratings'], dtype=object)

In [82]:
Pune_data[Pune_data['rating_count']=='1K+ ratings'].sort_values(['cost']).head(30).sort_values(['rating'],ascending=False).head(5)

,id,name,city,sub_region,rating,rating_count,cost
118594,5973,Teri Rajput,Pune,Kalyani Nagar,4.4,1K+ ratings,170
109831,25845,Fun Food-Taste of Indore,Pune,Pimple Saudagar,4.4,1K+ ratings,100
119488,200980,Irani Cafe,Pune,Shivaji Nagar,4.4,1K+ ratings,200
112692,211120,Taste Of Indore - Wakad,Pune,Wakad,4.4,1K+ ratings,100
114375,8370,Shawarma King,Pune,Nigdi,4.3,1K+ ratings,150

## 12. Top 10 Restaurants with Maximum Ratings in Banglore

In [87]:
banglore_data = final_data[final_data["city"]=="Bangalore"]

In [88]:
banglore_data

,id,name,city,sub_region,rating,rating_count,cost
4736,510172,KNEAD-O-BREADS,Bangalore,Yeshwanthpur,0.0,Too Few Ratings,250
4737,48225,Kanti Sweets,Bangalore,Yeshwanthpur,4.3,100+ ratings,150
4738,512476,CAKE AND BAKE,Bangalore,Yeshwanthpur,0.0,Too Few Ratings,200
4739,352231,M GRILL,Bangalore,Yeshwanthpur,4.0,20+ ratings,300
4740,524339,Idly Guru,Bangalore,Yeshwanthpur,0.0,Too Few Ratings,40
...,...,...,...,...,...,...,...
21432,505819,Hungama Biryani,Bangalore,link,0.0,0,350
21433,330564,Northwest Kebab & Curryhouse,Bangalore,link,3.7,0,500
21434,523252,Burgers@24,Bangalore,link,0.0,0,250
21435,570480,SHAWARMA INDIAH,Bangalore,link,5.0,0,200
21436,274781,Mealful Rolls - Meals in a Roll,Bangalore,link,0.0,0,250

In [89]:
banglore_data['rating_count'].unique()

array(['Too Few Ratings', '100+ ratings', '20+ ratings', '50+ ratings',
       '500+ ratings', '1K+ ratings', '5K+ ratings', 0], dtype=object)

In [90]:
popular_banglore_data = banglore_data[ (banglore_data["rating_count"]=="5K+ ratings") | (banglore_data["rating_count"]=="1K+ ratings")]

In [91]:
popular_banglore_data

,id,name,city,sub_region,rating,rating_count,cost
4770,57086,Priyadarshini Veg,Bangalore,Yeshwanthpur,4.4,1K+ ratings,150
4947,27212,Thalassery Restaurant,Bangalore,Yeshwanthpur,3.9,1K+ ratings,300
5045,115005,Udupi vaibhav,Bangalore,Geddalahalli,4.3,1K+ ratings,180
5157,348932,UDUPI UPACHAR,Bangalore,Geddalahalli,4.2,1K+ ratings,150
5211,92916,Vardhas,Bangalore,Geddalahalli,4.4,1K+ ratings,275
...,...,...,...,...,...,...,...
19644,3369,Truffles,Bangalore,Central Bangalore,4.5,5K+ ratings,450
19742,4046,Sri Udupi Park,Bangalore,Central Bangalore,4.4,1K+ ratings,200
19783,196047,New Taj Darbar,Bangalore,Central Bangalore,3.4,1K+ ratings,300
19828,34269,Hamza hotel,Bangalore,Central Bangalore,4.2,1K+ ratings,300
19834,410095,The Bowl Company,Bangalore,Central Bangalore,4.3,1K+ ratings,300

In [92]:
popular_banglore_data["rating"].unique()

array([4.4, 3.9, 4.3, 4.2, 4. , 4.1, 3.8, 4.5, 3.7, 4.6, 4.7, 2.7, 3.6,
       3.5, 3.3, 3.4])

In [93]:
popular_banglore_data[popular_banglore_data["rating"]>4.5]

,id,name,city,sub_region,rating,rating_count,cost
7145,171768,Mumbai Tiffin,Bangalore,HSR,4.6,1K+ ratings,400
7534,8174,Corner House Ice Cream,Bangalore,HSR,4.6,1K+ ratings,250
9154,444178,Magnolia Bakery,Bangalore,Indiranagar,4.6,1K+ ratings,500
9419,756,Corner House Ice Cream,Bangalore,Indiranagar,4.6,1K+ ratings,250
10877,101999,NIC Natural Ice Creams,Bangalore,Whitefield,4.7,1K+ ratings,120
11525,383505,Corner House Ice Cream,Bangalore,Kammanahalli/Kalyan Nagar,4.6,1K+ ratings,250
11687,52431,The Filter Coffee,Bangalore,Kammanahalli/Kalyan Nagar,4.6,1K+ ratings,250
13967,13969,Corner House Ice Cream,Bangalore,Frazer Town,4.7,1K+ ratings,250
14022,11503,Corner House Ice Cream,Bangalore,"Sanjay Nagar, New BEL Road",4.6,1K+ ratings,250
16182,1088,Corner House Ice Cream,Bangalore,Marathahalli,4.6,1K+ ratings,250
16402,89710,NIC Natural Ice Creams,Bangalore,Marathahalli,4.6,1K+ ratings,120
18733,104211,NIC Natural Ice Creams,Bangalore,Kadubeesanahalli,4.6,1K+ ratings,120

## 13. Top 10 Restaurant in Patna w.r.t rating

In [94]:
patna_data = final_data[final_data["city"]=="Patna"]

In [95]:
patna_data

,id,name,city,sub_region,rating,rating_count,cost
164616,254859,Biryani By Kilo,Patna,Patna,4.1,500+ ratings,700
164617,88781,Sujata Family Restaurant,Patna,Patna,3.4,5K+ ratings,300
164618,238672,Rajdhani Hotel,Patna,Patna,3.4,500+ ratings,200
164619,218787,Lazeez Gold,Patna,Patna,3.5,500+ ratings,400
164620,441343,La Pino'z Pizza,Patna,Patna,3.7,1K+ ratings,300
...,...,...,...,...,...,...,...
165356,556945,GANGA FOOD,Patna,Patna,0.0,Too Few Ratings,200
165357,488347,Kabab Factory (Hotel Golden Palm Inn ),Patna,Patna,0.0,Too Few Ratings,200
165358,507287,Dilli Dhaba And Restaurant,Patna,Patna,0.0,Too Few Ratings,250
165359,494465,Bite Me,Patna,Patna,0.0,Too Few Ratings,200
165360,491408,Surya Cake Shop,Patna,Patna,0.0,Too Few Ratings,200

In [96]:
patna_data["rating_count"].unique()

array(['500+ ratings', '5K+ ratings', '1K+ ratings', '100+ ratings',
       'Too Few Ratings', '50+ ratings', '20+ ratings', 0], dtype=object)

In [98]:
popular_patna_data = patna_data[ (patna_data["rating_count"]=="5K+ ratings") | (patna_data["rating_count"]=="1K+ ratings")]

In [99]:
popular_patna_data

,id,name,city,sub_region,rating,rating_count,cost
164617,88781,Sujata Family Restaurant,Patna,Patna,3.4,5K+ ratings,300
164620,441343,La Pino'z Pizza,Patna,Patna,3.7,1K+ ratings,300
164621,87385,Khana Khazana,Patna,Patna,3.4,1K+ ratings,300
164622,87401,Amrapali Cafe,Patna,Patna,4.0,1K+ ratings,600
164623,152335,Hungry Hope,Patna,Patna,3.5,5K+ ratings,300
164625,290590,Kwality Walls Frozen Dessert and Ice Cream Shop,Patna,Patna,4.6,1K+ ratings,100
164626,242395,Ram Babu Restaurant,Patna,Patna,3.4,1K+ ratings,300
164627,150950,New Pal Hotel,Patna,Patna,3.2,1K+ ratings,200
164631,254135,McDonald's,Patna,Patna,4.0,1K+ ratings,400
164633,118491,Cake Palace,Patna,Patna,3.6,1K+ ratings,250
164637,87985,Classic Family Restaurant,Patna,Patna,3.1,1K+ ratings,400
164640,308385,0612 ROAD CHEF [ Open Air ],Patna,Patna,3.9,1K+ ratings,200
164649,181767,Rollacosta,Patna,Patna,3.9,1K+ ratings,250
164660,94730,Food Junction,Patna,Patna,3.3,1K+ ratings,300
164668,89715,Dragon Flames Delivery,Patna,Patna,4.0,1K+ ratings,400
164669,132703,Dosa Station,Patna,Patna,3.0,1K+ ratings,150
164674,221504,Well Food,Patna,Patna,3.4,1K+ ratings,250
164678,246443,HARILAL (Kankarbagh),Patna,Patna,4.1,1K+ ratings,150
164683,245871,HARILAL ( S.K. Puri ),Patna,Patna,4.2,1K+ ratings,200
164757,94731,The Frying Pan Restaurant,Patna,Patna,3.7,1K+ ratings,400
164759,100481,Zaika Family Fast Food,Patna,Patna,2.9,1K+ ratings,200
164930,137887,Manbhawan sweets,Patna,Patna,3.5,1K+ ratings,150
164991,149350,Red Chillii,Patna,Patna,3.5,1K+ ratings,200
165204,110953,Chandan Dhaba,Patna,Patna,3.4,1K+ ratings,150
165205,168966,Brijwashi Sweets And Restaurant,Patna,Patna,3.9,1K+ ratings,150
165213,259295,Bikaner Elite ( Rukanpura ),Patna,Patna,4.1,1K+ ratings,200

In [101]:
popular_patna_data.sort_values(['rating'],ascending=False).head(5)

,id,name,city,sub_region,rating,rating_count,cost
164625,290590,Kwality Walls Frozen Dessert and Ice Cream Shop,Patna,Patna,4.6,1K+ ratings,100
164683,245871,HARILAL ( S.K. Puri ),Patna,Patna,4.2,1K+ ratings,200
164678,246443,HARILAL (Kankarbagh),Patna,Patna,4.1,1K+ ratings,150
165213,259295,Bikaner Elite ( Rukanpura ),Patna,Patna,4.1,1K+ ratings,200
164622,87401,Amrapali Cafe,Patna,Patna,4.0,1K+ ratings,600